
<h1>Listing feedbacks</h1>
<div class="center hero-unit">
<div class="row">
  <div class="span8">
<table>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Weaknesses</th>
    <th>Strenghts</th>
    <th>Recommendation</th>
    <th>Rating</th>
  </tr>

<% @feedbacks.each do |feedbacks| %>
  <tr>
    <td><%= feedbacks.user.name %></td>
    <td><%= feedbacks.subject.name %></td>
    <td><%= feedbacks.weaknesses %></td>
    <td><%= feedbacks.strenghts %></td>
    <td><%= feedbacks.recommandation %></td>
    <td><%= feedbacks.rating %></td>
  </tr>
        
<% end %>
</table>
</div>
</div>
</div>
<div class="center hero-unit">
<%= link_to 'create New feedback', new_feedback_path %>
</div>